/* font-family: 'Forum', cursive;
font-family: 'Modak', cursive;
font-family: 'Baloo', cursive; 
font-family: 'Poppins', sans-serif;*/

/* #2B4A4D - font header color
#96AF94 - font non header color
#DEFBDD - body background
#4C8286 - button background & num value color
#C4DCC3 - gameboard background
#DEFBDD - button text color */

body {
  background-color: #DEFBDD;
  font-family: 'Poppins', sans-serif;
  min-height: 95vh;
  height: 0;
}

#bodyWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  width: 80%;
  margin: 0 auto;
}
#topTitle {
  text-align: center;
  color: #2B4A4D;	
  font-size: 48px;	
  font-weight: bold;	
  letter-spacing: 2.07px;	
  line-height: 72px;
}
#startHandWrapper {
  display: flex;
  justify-content: left;
  margin: 0 0 5px 0;
  height: 75px;
}
#gameStartButton {
  margin-right: 30px;
  margin-top: 5px;
  padding: 20px 45px;
}
#messageWrapper {
  height: 70px;
  display: flex;
}
#message {
  color: #4C8286;	
  font-size: 24px;	
  font-weight: bold;	
  letter-spacing: 4px;	
  line-height: 35px;
  width: 410px;
  max-width: 410px;
}

#mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40%;
}
#gameBoard {
  order: 1;
  background-color: #C4DCC3;
  border-radius: 40px;
  display: flex;
  justify-content: start;
  width: 55%;
  min-width: 500px;
}
#textBoard {
  display: flex;
  justify-content: center;
  order: 2;
  /* width: 45%;
  min-width:400px; */
}
#textWrapper {
  display: flex;
  flex-direction: column;
}
#infoWrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
  margin-left: 30px;
  min-width: 400px;
}
#information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #96AF94;
  font-size: 16px;	
  font-weight: 500;	
  letter-spacing: 3px;	
  line-height: 25px;
  height: 180px;
}
#infoLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#infoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#newHandButton {
  display: none;
  margin-right: 30px;
  padding: 20px 45px;
}
#doubleButton {
  display: none;
}
#insuranceButton {
  display: none;
  margin-right: 30px;
  margin-top: 5px;
  padding: 20px 45px;
}
#splitButton {
  display: none;
  margin-right: 30px;
  margin-top: 5px;
  padding: 20px 45px;
}
#optionWrapper {
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  min-height: 55px;
  margin-top: 15px;
}
#gameOptions {
  display: none;
  justify-content: space-around;
  width: 55%;
  min-width: 500px;
  /* INSTEAD OF THIS SET SOME SIDE MARGINS AND USE SPACE BETWEEN IN BODY WRAPPER PROBABLY. STOP THIS ASIDE % MADNESS */
}
#wagerOptions {
  display: none;
  justify-content: space-evenly;
  width: 100%;
  min-width: 500px;
}
#cardWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
#playerCards{
  display: grid;
  /* cardwidth 
  repeat(number of columns, how wide?)
  */
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: 205px;
  max-width: 300px;
  margin: 20px 0 40px 40px;
}
#botWrapper {
  width: 100%;
}
#dealerCards{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: 205px;
  max-width: 300px;
  margin: 40px 0 20px 40px;
}

#rules {
  margin-top: 40px;
  display: block;
  color: #4C8286;
}
#rules > p {
  color: #96AF94;
  display: block;
  margin: 0 0 16px 0;
  font-size: 16px;
}

@keyframes riseUpFadeOut {
  0% {
    position: relative;
    bottom: 4rem;
    opacity: 0;
  }
  99% {
    position: relative;
    bottom: 8rem;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animateButtonText {
  font-size: 24px;
  opacity: 0;
  color: #2B4A4D;
  animation-name: riseUpFadeOut;
  animation-duration: 1s;
}

.gameButton {
  background-color: #4C8286;
  border-radius: 40px;
  text-align: center;
  padding: 10px 40px;
  color: #DEFBDD;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 35px;
  cursor: pointer;
}
.gameButton:hover {background-color: #2B4A4D;}
.gameButton:active {
  background-color: #2B4A4D;
  transform: translateY(2px);
}
.gameButton2 {
  background-color: #4C8286;
  border-radius: 40px;
  text-align: center;
  padding: 10px 50px;
  color: #DEFBDD;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 35px;
  cursor: pointer;
  max-height: 35px;
}
.gameButton2:hover {background-color: #2B4A4D;}
.gameButton2:active {
  background-color: #2B4A4D;
  transform: translateY(2px);
}

.valueStyle {
  color: #4C8286;	
  font-size: 36px;	
  font-weight: bold;	
  letter-spacing: 4px;	
  line-height: 36px;
}

.cardTotal {
  color: #4C8286;
  font-size: 48px;	
  font-weight: bold;	
  letter-spacing: 2px;	
  line-height: 72px;	
  text-align: center;
  width: 45px;
  height: 45px;
  margin-right: -46px;
  margin-top: -16px;
  /* margin-right: -30px;
  margin-top: -28px; */
}

.card {
  display: flex;
  justify-content: flex-end;
  background-image: url('../images/cardback_green.png');
  background-size: cover;
  margin: -2px 0;
  grid-row-start: 1;
  border-radius: 9px;
  box-shadow: -2px 2px 6px 0 rgba(0,0,0,0.25);
}
/* Got the idea from stack overflow to overlap using a grid: https://stackoverflow.com/questions/43919067/make-flex-items-overlap/43919987 */
.card:nth-child(1) { grid-column: 1 / 6; }
.card:nth-child(2) { grid-column: 2 / 7; }
.card:nth-child(3) { grid-column: 3 / 8; }
.card:nth-child(4) { grid-column: 4 / 9; }
.card:nth-child(5) { grid-column: 5 / 10; }
.card:nth-child(6) { grid-column: 6 / 11; }
.card:nth-child(7) { grid-column: 7 / 12; }
.card:nth-child(8) { grid-column: 8 / 13; }
.card:nth-child(9) { grid-column: 9 / 14; }


/* starts at 1, ends at 6
starts at 4, ends at 9..etc Each number being a grid unit defined above. cards are 5 grid units large. */
/* 135.6px x 188.4px */

@media (max-width: 1023px) {
  #mainWrapper {
    flex-direction: column;
  }
  #gameBoard {
    order: 2;
  }
  #textBoard {
    justify-content: start;
    order: 1;
  }
}
@media(max-width: 720px) {
  #bodyWrapper {
    margin: 0;
    width: 100%;
  }
  #optionWrapper {
    margin: 0 auto;
  }
  #wagerOptions {
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 500px;
  }
  #textBoard {
    justify-content: start;
  }
}