/* font-family: 'Forum', cursive;
font-family: 'Modak', cursive;
font-family: 'Baloo', cursive; */

body {
  background-color: rgb(255, 220, 168);
  font-family: 'Baloo', cursive;
  /* background-image: url('../images/greenfelt.jpg');
  background-size: 55%; */
  min-height: 95vh;
  margin: 0 auto;
}
img {
  filter: drop-shadow(0 0 0.75rem rgb(215, 25, 25));
}

#bodyWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

#topWrapper {
  /* font-family: 'Forum', cursive; */
  /* font-family: 'Baloo', cursive; */
  color: lightcoral;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15%;
  font-size: 75px;
  /* border: 1px solid red; */
}
#topTitle {
  /* border: 1px solid red; */
  width: 65%;
}
#topPadding {
  width: 30%;
}

#textWrapper {
  display: flex;
  flex-direction: column;
}

#startHandWrapper {
  margin: 0 0 5px 0;
}

#currentBetWrapper {
  margin: 0 0 35px 0;
}

#gameStartButton {
  margin-right: 30px;
}

/* #messageWrapper {
  margin: 
} */
#message {
  font-size: 36px;
  padding-top: 20px;
}

#mainWrapper {
  /* background-image: url('../images/greenfelt.jpg'); */
  /* background-size: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40%;
  /* border: 1px solid red; */
}
#gameBoard {
  /* background-color: green; */
  /* background-image: url('../images/greenfelt.jpg');
  background-size: 80%; */
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  width: 65%;
  border: 3px solid lightcoral;
}
#textBoard {
  /* background-color: yellow; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: lightcoral;
  border: 3px solid lightcoral;
  border-radius: 10px;
}
#textBoard > div{
  margin-left: 5px;
  font-size: 30px;
}

#newHandButton {
  display: none;
}
#optionWrapper {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  margin-top: 15px;
}
#gameOptions {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
#wagerOptions {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#totalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: lightcoral;
  font-size: 40px;
  font-weight: 800;
  margin-left: 0px;
}
#dealerTotal {
  visibility: hidden;
  margin-left: 21px;
}
#playerTotal {
  margin-left: 0px;
}
#cardWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
#playerCards{
  display: grid;
  /* cardwidth */
  grid-template-columns: repeat(30, 35px);
  /* cardHeight */
  grid-template-rows: 290px;
  max-width: 300px;
}
#dealerCards{
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(30, 35px);
  grid-template-rows: 290px;
  max-width: 300px;
}

.gameButton {
  width: 100px;
  background-color: lightcoral;
  border-radius: 10px;
  text-align: center;
  padding: 8px;
  /* margin-top: 10px; */
  color: cornsilk;
  font-size: 30px;
  font-family: 'Baloo', cursive;
  cursor: pointer;
}

.card {
  /* height: 188.4px;
  width: 135.6px; */
  background-image: url('../images/cardback.png');
  background-size: cover;
  margin: 23px 0;
  grid-row-start: 1;
  border-radius: 9px;
}


/* Got the idea from stack overflow to overlap using a grid: https://stackoverflow.com/questions/43919067/make-flex-items-overlap/43919987 */
.card:nth-child(1) { grid-column: 1 / 6; }
.card:nth-child(2) { grid-column: 3 / 8; }
.card:nth-child(3) { grid-column: 5 / 10; }
.card:nth-child(4) { grid-column: 7 / 12; }
.card:nth-child(5) { grid-column: 9 / 14; }
.card:nth-child(6) { grid-column: 11 / 16; }
.card:nth-child(7) { grid-column: 13 / 18; }
.card:nth-child(8) { grid-column: 15 / 20; }
.card:nth-child(9) { grid-column: 17 / 22; }


/* starts at 1, ends at 6
starts at 4, ends at 9..etc Each number being a grid unit defined above. cards are 5 grid units large. */
/* 135.6px x 188.4px */

